body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #222121;
  font-family: Arial, sans-serif;
  margin: 0;
}

.title {
  color: #ffffff;
  text-align: center;
  margin-bottom: 30px;
  position: relative;
  top: -220px;
}

a {
  color: #3759f4;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.container {
  position: relative;
}

.input-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: relative;
  top: -210px;
}

.input-container input {
  flex-grow: 1;
  width: 100px;
  padding: 10px;
  background-color: #5d5d5e;
  border-radius: 20px;
  font-size: 20px;
  margin-left: 100px;
  border: none;
}

.input-container input::placeholder {
  color: #9a9797;
}

.input-container input:focus {
  outline: none;
}

.input-container button {
  flex-shrink: 0;
  padding: 10px;
  background-color: #3759f4;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  transition: background 0.3s;
  margin-right: 150px;
}

.input-container button:active {
  transform: scale(0.97);
}

.input-container button:focus {
  outline: none;
}

.error-message {
  position: absolute;
  font-size: 18px;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  color: red;
}

.short-url-container {
  text-align: center;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
}

.short-url-label {
  color: #ffffff;
  display: block;
  font-size: 18px;
  margin-right: 180px;
  margin-bottom: 5px;
}

.short-url-link {
  font-size: 18px;
}

.short-url-box {
  display: flex;
  align-items: center;
  gap: 15px;
  height: 40px;
}

.copy-button {
  background: #3759f4;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background 0.3s;
  margin-right: 63px;
  font-size: 16px;
  width: 30%;
  height: 40px;
}

.copy-button:active {
  transform: scale(0.97);
}

.copy-button:focus {
  outline: none;
}

.copy-success {
  color: #4caf50;
  font-size: 14px;
  text-align: right;
  margin-right: 50px;
  margin-top: 5px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: relative;
  margin-right: 50px;
}

.buttons-container button {
  flex-shrink: 0;
  padding: 10px;
  background-color: #464646;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  transition: background 0.3s;
}

.buttons-container button:active {
  transform: scale(0.97);
}


.buttons-container button:focus {
  outline: none;
}